#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  overflow-x: hidden;
  /* background: black; */
}




.sideBar{
  background: black;
  height: 100vh;
  color: whitesmoke;
  position: fixed;
  padding-top: 80px;
}

.content{
  max-width: 1000px;
  position: relative;
  justify-content: center;
  margin: auto;
}


@media (max-width: 900px) {
  .search{
    width: 100%;
  }
}
